html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  padding: .5em 0 0;
  width: 40px;
}

h1 {
  margin: 0;
  padding: .4rem 0;
  font-size: 2rem;
}

h1, li {
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #d05c2e;
}

li {
  border-width: 1px;
  border-style: solid;
  border-color: #a63f38;

  display: inline-block;
  font-size: 1.125rem;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.right {
  float: right;
}

.left {
  float: left;
}

.links {
  background-color: #d05c2e;
  display: flex;
}

.links a:hover {
  background-color: #a63f38;
  color: #fff;
}

a {
  text-decoration: none;
  display: block;
  color: #fff;
  width: 100%;
}
